 # Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.env
.vscode
.vscode/settings.json
.venv
venv
regService/data/master_prompts/master_prompts_V0.json
vectorstore/db_faiss/index.faiss
vectorstore/db_faiss/index.pkl
data-legal/contract.pdf
